@CHARSET "UTF-8";

html {
	height: 100%;
	overflow: hidden;
}

#twitter {
	background-color: #FFF;
	width: 300px;
	padding: 15px 15px 15px 15px;
	float: left;
	color: #000;
	height: 100%;
	overflow: scroll;
	line-height: 15px;
	z-index: 1px;
	position: absolute;
}

#twitter a {
	color: #0000FF;
}

#twitter
	.tweet {
	padding-top: 20px;
	border-bottom: 1px solid #999;
}

#hide a {
	float: right;
	text-decoration: none;
	background-color: #999;
	color: #FFF;
	padding-left: 3px;
	padding-right: 3px;
}

.footer {
	margin-top: -6px;
	color: #999;
	float: right;
	text-transform: uppercase;
}

#loading {
	padding-top: 15px;
	color: #666;
	font-weight: bold;
}

#flashcontent {
	height: 100%;
	width: 100%;
	margin-left: 0px;
	z-index: 999;
	/*	min-height:500px;
		min-width:800px;
	*/
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: Monaco, Verdana, "Courier New", monospaced;
	font-size: 9px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #CCC;
}

a {
	color: #FFF;
}

#textcontent {
	padding: 20px;
}

p {
	padding-bottom: 5px;
}